.container {
}

.empty {
    color: rgb(43, 73, 226);
    font-size: 25px;
}

.customList {
    padding: 0;
    list-style: none;
    width: 100%;
}

.isNotDone {
    background-color: rgba(89, 51, 51, 0.279);
}
.isDone {
    background-color: rgba(68, 63, 63, 0.279);
}
